<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twilio.video.app">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.room.RoomCheckActivity"
            android:exported="true" />
       
        <activity
            android:exported="true"
            android:name=".ui.splash.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="aureusacademy"
                    android:pathPrefix="/room_name"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.LoginScreen"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".ui.room.RoomActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Lobby"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.room.StudentRoomActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Lobby"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:parentActivityName=".ui.room.RoomActivity"
            android:theme="@style/AppTheme.Settings" />

        <service
            android:name=".ui.room.VideoService"
            android:foregroundServiceType="mediaProjection" />
    </application>

</manifest>